body{
    background-color: gray;
}

.grid-container{
    display:grid;
    grid-template-columns: 25% 25% 25% 23%;
    grid-template-rows: auto auto auto;
    gap: 10px 10px;
}

.grid-item{
    font-size: small;
    text-align: left;
    padding: 20px;
    background-color: aliceblue;
}

.navmenu{
    text-align: center;
    padding: 0px;
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 0px;
}

.nav{
    list-style-type: none;
    background-color: dimgray;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
}

.active{
    vertical-align: middle;
}

.logo{
    width: 50px;
}

ul.nav li {
  display: inline-block;
}

ul.nav li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

ul.nav a:hover{
    background-color: darkgray;
    color: violet;
}

ul.nav .no-hover:hover{
    /* remove bad hover only on logo */
    background-color: dimgray;
}

.main-image{
    padding: 0px;
    grid-column: 1 / span 3;
    grid-row: 2;
}

.description{
    grid-column: 4;
    grid-row: 2;
}

.main1{
    grid-column: 1 / span 2;
    grid-row: 3;
}

.main2{
    grid-column: 3;
    grid-row: 3;
}

.resources{
    grid-column: 4;
    grid-row: 3 / span 2;
}

.video{
    grid-column: 1 / span 2;
    grid-row: 4;
}

.video-description{
    grid-column: 3;
    grid-row: 4;
}

.main3{
    grid-column: 1;
    grid-row: 5;
}

.main4{
    grid-column: 2;
    grid-row: 5;
}

.main5{
    grid-column: 3  / span 2;
    grid-row: 5;
}

.why-java{
    grid-column: 1 / span 4;
    grid-row: 6;
}
